.auto-btn-hover {
  transition-duration: 0.3s;
}

.auto-btn-hover:hover {
  background-color: $auto-green !important;
  color: #ffffff !important;
  transition-duration: 0.3s;
}
.auto-btn-border {
  border-color: #b5b5b5;
}
