/*
* Style of container where summary is displayed.
*/

.summary-content-container {
    height: 500px;
    overflow: auto;
}

.token {
    font-size: inherit !important;
    background-color: transparent !important;
}