/*
* Styles of all buttons on page.
*/

.auto-btn-hover {
  transition-duration: 0.3s;

  &:hover {
    background-color: $auto-green !important;
    color: #ffffff !important;
  }
}

.auto-btn-border {
  border-color: #b5b5b5;
}

.auto-tab a {
  padding: 0 10px 5px 10px;
  color: #4a4a4a;
	border-bottom-color: transparent;
  transition-duration: .2s;
  transition-timing-function: ease;

  &:hover {
    color: #27ae60 !important;
  }
}

.auto-tab-container {
  padding-bottom: 5px;
}

.auto-tab .icon {
  display: inherit !important;
}
.auto-tab .icon::after {
  content: "  ";
}
.auto-tab a .icon:last-child {
  margin-left: 0 !important;
}

#html-upload {
  height: 100%;
}