/**
* This style is used for export colors to background, color and others elements.
*/

.auto-blue {
  background-color: $auto-blue !important;
}

.auto-gray {
  background-color: $auto-gray !important;
}

.color-auto-gray-water {
  color: $auto-gray-water !important;
}
