/*
* Style of footer page.
*/

#footer-credits {
	width: 100%;
	padding: 10px;
	margin: 0px 0px 0px;
	position: absolute;
	text-align: center;
	font:normal bold 13px Arial;
	color:#FFFFFF;
	background:#2C3E50;
	border-top:4px solid #3F4C6B;
}

#footer-credits a:link {
	color:#A8B5C4 !important;
	text-decoration:none;
	outline:0px solid #FFFFFF;
}

#footer-credits a:visited {
	color:#A8B5C4 !important;
	text-decoration:none;
	outline:0px solid #FFFFFF;
}

#footer-credits a:hover {
	color:#A8B5C4;
	text-decoration:none;
	outline:0px solid #FFFFFF;
}